.newNote {
    max-width: 900px;
    width: 100%;
    background: var(--main-white);
    color:var(--main-text-color);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.title {
    font-size: 17px;
    color: var(--main-text-color);
}
.newNoteHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}