.user {
    position: relative;
    color: var(--main-text-color);
}
.title {
    text-align: center;
    font-size: 5vw;
    color: var(--main-text-color);
    margin-bottom: 20px;
}
.avatar {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
.mail {
    margin-bottom: 20px;
}