.login {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 20px;
    width: 100%;
    background-color: var(--loginBar-offline);
    transition: .3s ease-in;
    color: var(--main-white);
}
.login:hover {
    cursor: pointer;
    height: 40px;
    font-size: 20px;
}