.login {
    position: relative;
    max-width: 350px;
    width: 100%;
    margin-top: 50px;
    background-color: var(--main-white);
    /* height: 500px; */
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 30px;
}

.loginForm {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.text {
    text-align: center;
}

.error {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    color: rgb(188, 21, 21);
    text-align: center;
}