.fieldset {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.fieldset label {
    font-size: 15px;
    visibility: hidden;
    transform: translate(10px, 22px);
    color: var(--main-text-color);
    transition: .3s ease-in;
}
.fieldset input {
    width: 100%;
    height: 30px;
    border: none;
    border-bottom: 1px solid var(--detail-color-main);
    outline: none;
    padding: 0 10px;
    transition: .3s ease-in;
    color: var(--main-text-color);
}
.fieldset input::placeholder {
    font-size: 15px;
    transition: .3s ease-in;
}
.fieldset svg {
    position: absolute;
    top: 50%;
    right: 10px;
    cursor: pointer;
}