:root {
  --edit-color-main: #0fc372;
  --delete-color-main: #c3330f;
  --detail-color-main: #0f81c3 ;
  --main-white: #FFFFFF;
  --main-black: #000000;
  --loginBar-online: #0fc399;
  --loginBar-offline: #c30f0f;
  --main-text-color: #444c5b;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edeef0;
  /* color: var(--main-text-color); */
  height: 100vh;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  color: var(--detail-color-main);
  text-decoration: none !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin-block-start: 0;
  margin-block-end: 0;
}
